.header {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}

.header__bg {
    width: 100%;
    height: 640px;
    position: absolute;
    background: var(--color-bg-gradient);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0 0 35px 35px;
}

.header__img-holder {
    text-align: center;
}

.header__img {
    width: 40px;
}

.header__description {
    text-align: center;
    margin-bottom: 50px;
}

.header__description-heading {
    font-size: var(--heading-size-l);
    text-transform: capitalize;
    margin-top: 24px;
    margin-bottom: 24px;
}

.header__description-info {
    color: var(--color-dark-electric-blue);
}

.header__calculator {
    width: 100%;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 10px 20px var(--color-blue-opacity);
}

.header__calculator-heading {
    font-size: var(--heading-size-m);
}

.header__calculator-input {
    font: inherit;
    border: none;
    outline: none;
    font-size: var(--heading-size-m);
    font-weight: 600;
    width: 80%;
}

.header__measurement {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
}

.header__measurement--imperial {
    display: none;
    gap: 0 !important;
}

.header__measurement-imperial-mb {
    margin-bottom: 16px;
}

.header__measurement-type {
    border: 1px solid var(--color-border);
    width: 100%;
    margin-top: 8px;
    display: flex;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
}

.header__measurement-unit {
    margin: 0;
    color: var(--color-blue);
    font-size: var(--heading-size-m);
}

.header__measurement-section {
    flex-basis: 100%;
}

.header__result {
    width: 100%;
    padding: 32px;
    margin-top: 34px;
    background-color: var(--color-blue);
    border-radius: 16px;
    overflow: hidden;
}

.header__result-welcome {

}

.header__result-welcome-heading {
    font-size: var(--heading-size-m);
    font-weight: 600;
}

.header__result-welcome-description,
.header__result-welcome-heading {
    color: var(--bs-white);
}

.header__result-welcome-description {
    font-size: var(--body-size-s);
}

.header__measurement-unit-choice {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .header__measurement {
        flex-direction: row;
        gap: 24px;
    }

    .header__measurement-section {
        flex-basis: 47%;
    }

    .header__result {
        padding: 32px;
        border-radius: 16px 99px 99px 16px;
    }
}

@media (min-width: 1200px) {
    .header__bg {
        top: -1px;
        left: 24px;
        width: 878px;
        height: 637px;
    }

    .header {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .header__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .header__description {
        flex-basis: 500px;
        text-align: left;
    }

    .header__calculator {
        flex-basis: 500px;
    }

    .header__measurement-type {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header__img-holder {
        margin-bottom: 50px;
        text-align: left;
    }

    .header__img {
        width: 64px;
    }
}

@media (min-width: 1440px) {
    .header {
        padding-top: 70px;
        padding-bottom: 180px;
    }

    .header__bg {
        top: -1px;
        left: 24px;
        width: 1300px;
    }

    .header__description,
    .header__calculator {
        flex-basis: 564px;
    }

    .header__calculator {
        box-shadow: 15px 15px 30px var(--color-blue-opacity);
    }
}


/* bmi */
.bmi {
    width: 100%;
    padding-bottom: 48px;
}

.bmi__curved {
    display: none;
}

.bmi__container {
    width: inherit;
}

.bmi__image {
    width: 100%;
}

.bmi__description {
    padding: 0 24px;
    margin-top: 48px;
}

.bmi__heading {
    font-size: 2em;
}

@media (min-width: 768px) {
    .bmi__container {
        display: flex;
        align-items: center;
        gap: 75px;
    }

    .bmi__image {
        width: 435px;
        margin-left: -90px;
    }
}

@media (min-width: 1200px) {
    .bmi {
        position: relative;
    }

    .bmi__curved {
        position: absolute;
        right: 250px;
        display: block;
        width: 50px;
    }

    .bmi__container {
        width: 80%;
        max-width: 1320px;
        margin: auto;
    }

    .bmi__image {
        margin: 0;
    }
}

@media (min-width: 1440px) {
    .bmi__container {
        gap: 131px;
    }

    .bmi__image {
        width: 564px;
    }

    .bmi__curved {
        width: auto;
        right: 550px;
        top: -50px;
    }
}

/* prevention */
.prevention {
    background: var(--color-bg-gradient);
    padding-top: 56px; 
    padding-bottom: 56px; 
}

.prevention__section-content {
    margin-top: 32px;
}

.prevention__section-mb {
    margin-bottom: 40px;
}

.prevention__section-heading {
    margin-bottom: 24px;
    font-size: var(--heading-size-m);
}

@media (min-width: 768px) {
    .prevention__section {
        display: flex;
        gap: 40px;
        align-items: flex-start;
    }

    .prevention__section-content {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .prevention__section {
        display: block;
    }

    .prevention__section-content {
        margin-top: 32px;
    }
}

/* limitation */
.limitation {
    padding-top: 100px;
    padding-bottom: 100px;
}

.limitation__description {
    margin-bottom: 70px;
}

.limitation__heading {
    font-size: 2em;
    margin-bottom: 32px;
    margin-top: 0;
}

.limitation__areas-section {
    padding: 24px;
    border-radius: 16px;
    box-shadow: 10px 10px 10px var(--color-blue-opacity);
}

.limitation__areas-section-heading {
    font-size: var(--heading-size-s);
}

.limitation__areas-section:not(:last-child) {
    margin-bottom: 10px;
}

.limitation__areas-section-top {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 16px;
}

.limitation__curved {
    display: none;
}

@media (min-width: 768px) {
    .limitation__areas {
        display: flex;
        margin: auto;
        width: 686px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }

    .limitation__areas-section {
        width: 330px;
        padding: 32px;
        margin: 0;
    }

    .limitation__description {
        width: 686px;
        margin: auto;
        text-align: center;
        margin-bottom: 70px;
    }
}

@media (min-width: 1200px) {
    .limitation {
        height: 980px;
    }

    .limitation__description {
        text-align: left;
        width: 564px;
        margin: 0;
    }

    .limitation__areas {
        position: relative;
    }

    .limitation__areas-section {
        position: absolute;
        background-color: var(--bs-white);
        box-shadow: 15px 15px 30px var(--color-blue-opacity);
    }

    .section-top {
        top: -160px;
        right: -70px;
    }

    .section-middle-left {
        top: 100px;
        right: 150px;
    }

    .section-middle-right {
        top: 100px;
        right: -200px;
    }

    .section-bottom-left {
        top: 330px;
        right: -40px;
    }
    
    .section-bottom-right {
        top: 330px;
        right: 320px;
    }

    .limitation__curved {
        size: 40px;
        position: absolute;
        left: -100px;
        top: 50px;
        display: block;
    }
}

@media (min-width: 1440px) {
    .limitation__curved {
        width: auto;
    }
}